:root {
  --cl-primary: #006837;
}

.snipping__captureScreenshotContainer_bottom {
  left: 16px;
  bottom: 16px;
}

.snipping__captureScreenshotBtn {
  background: white !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  font-size: 13px;
  padding: 8px 16px !important;
  border-radius: 4px;
  color: #343c46 !important;
  transition: all 0.2s ease-in;
}

.snipping__captureScreenshotBtn:hover {
  color: #006837 !important;
  box-shadow: 0px 4px 10px rgba(52, 60, 70, 0.1) !important;

}

.rl-nepali-datepicker-wrapper .input-wrapper {
  height: 44px;
}

.rl-nepali-datepicker-wrapper .input-wrapper .rl-nepali-datepicker-input {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  /*padding: 0 12px;*/
}

/*:root {*/
/*  --cl-primary: var(--myra-colors-primary-500);*/
/*}*/

/*.rl-nepali-datepicker-wrapper .input-wrapper {*/
/*  height: 44px;*/
/*  cursor: pointer;*/
/*  border-radius: 4px;*/
/*  align-items: center;*/
/*  border: 1px solid;*/
/*  border-color: var(--myra-colors-gray-300);*/
/*  color: var(--myra-colors-gray-800);*/
/*}*/

/*.rl-nepali-datepicker-wrapper .input-wrapper .rl-nepali-datepicker-input {*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  line-height: 1.5;*/
/*}*/

/*.rl-nepali-datepicker-wrapper .input-wrapper .rl-nepali-datepicker-icon {*/
/*  height: 16px;*/
/*}*/

/*.rl-nepali-datepicker-wrapper .rl-nepali-date-panel-wrapper {*/
/*  border-radius: 4px;*/
/*  overflow: hidden;*/
/*  box-shadow: var(--myra-shadows-E1);*/
/*}*/
