:root {
  --cl-primary: #006837;
}

.snipping__captureScreenshotContainer_bottom {
  left: 16px;
  bottom: 16px;
}

.snipping__captureScreenshotBtn {
  background: white !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  font-size: 13px;
  padding: 8px 16px !important;
  border-radius: 4px;
  color: #343c46 !important;
  transition: all 0.2s ease-in;
}

.snipping__captureScreenshotBtn:hover {
  color: #006837 !important;
  box-shadow: 0px 4px 10px rgba(52, 60, 70, 0.1) !important;

}

