.snipping__captureScreenshotContainer_custom {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
}

.snipping__captureScreenshotContainer_custom .snipping__captureScreenshotBtn {
  padding: 7px;
  border: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  transform: rotateZ(-90deg) translateX(50%) translateY(3px);
  transform-origin: 100% 100%;
  background-color: red;
  color: white;
}
